div(ng-init="init()")
	form.search
		div.form-group
			div.input-group
				input.form-control(ng-model="search", ng-change="onSearch()")
				div.input-group-addon(ng-click="onSearch()") 
					span.glyphicon.glyphicon-search
	div.contentData
		div.row.head
			div.col-md-8
				//- i.fa.fa-refresh.fa-spin.fa-fw(ng-show="loading") 
				div.title Nom
			div.col-md-4
				button.btn.btn-primary.btn-sm(ng-click="showDialog($event, false, 'ajouter')") Ajouter
		div.row.object(ng-repeat="categorie in categoriesAfficher")
			div.col-md-8 
				div.title {{ categorie.nom }}
			div.col-md-4
				button.btn.btn-primary.btn-sm(ng-click="showDialog($event, categorie, 'modifier')")
					span.glyphicon.glyphicon-pencil
				button.btn.btn-primary.btn-sm(ng-click="delete(categorie)")
					span.glyphicon.glyphicon-trash


